{% extends "base.html" %}
{% block content %}
<!-- MAIN -->
  <div class="main">
    <div class="row">
      <div class="large-13 large-centered columns" role="main">
        <article class="h-entry">

<div class="content-header">
  <h2 class="p-name">{{ Page.title }}</h2>
  <span class="post-date dt-published">{{ Page.datefull }}<br>{{ Page.readingtime }} minute read</span>
</div>
<div class="post-content e-content">
{{ Page.content | safe }}
</div>
<p>
  Tags:
  {% for tag in Page.tags %}
  <a href="/tags/{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</p>

        </article>
      </div>
    </div>
  </div>
<!-- /MAIN -->
{% endblock content %}
