{% extends "base.html" %}
{% block content %}
<!-- MAIN -->
  <div class="main">
    <div class="row">
      <div class="large-13 large-centered columns" role="main">
        <article>

          <div class="content-header"><h2></h2></div>

<div class="row flex">
  <div class="large-11 columns">
    <h4>Latest posts</h4>
    <ul>

{%- set idx = 0 -%}
{% for entry in entries %}
{%- if entry.section_index %}{% continue %}{% endif %}
{%- if entry.section == "blog" or entry.section == "stack" -%}
{% if idx == 10 %}{% break %}{% endif %}
      <li><time class="pull-right post-list">{{ entry.dateshort }}</time>
      <a href="/{{ entry.link | safe }}">{{ entry.title }}</a></li>
{%- set_global idx = idx + 1 -%}
{%- endif -%}
{% endfor %}

    </ul>
  </div>

  <div class="large-5 columns">
    <h3 style="text-align: right">(╯°□°）╯︵&nbsp;┻━┻</h3>
    <p>&nbsp;</p>
  </div>
</div>

<div class="row">
  <p class="txr">
    I will not be pushed, filed, stamped, indexed<br>
    briefed, debriefed or numbered.<br>
    My life is my own.<br>
  </p>
</div>
        </article>
      </div>
    </div>
  </div>
<!-- /MAIN -->
{% endblock content %}
