{% extends "base.html" %}
{% block content %}
<!-- MAIN -->
  <div class="main">
    <div class="row">
      <div class="large-13 large-centered columns" role="main">
        <article>

<div class="content-header">
  <span class="post-date">{{ Page.datefull }}<br>{{ Page.readingtime }} minute read</span>
  <h2>{{ Page.title }}</h2>
</div>
{% include "stackdef.html" %}
<div class="stackpost-content">
{{ Page.content | safe }}
</div>

        </article>
      </div>
    </div>
  </div>
<!-- /MAIN -->
{% endblock content %}
