{% extends "base.html" %}
{% block content %}
<!-- MAIN -->
  <section class="main">
    <div class="row">
      <div class="large-13 large-centered columns" role="main">
        <article>

<div class="content-header">
  <span class="post-date">{{ Page.datefull }}<br />{{ Page.readingtime }} minute read</span>
  <h2>{{ Page.title }}</h2>
</div>
          <div class="stackdef">
            <em>The Stack</em> is a weekly digest of hopefully interesting links that doesn't really get published every week.
          </div>
<div class="stackpost-content">
{{ Page.content | safe }}
</div>

        </article>
      </div>
    </div>
  </section>
<!-- /MAIN -->
{% endblock content %}
