{% extends "base.html" %}
{% block content %}
<!-- MAIN -->
  <div class="main">
    <div class="row">
      <div class="large-13 large-centered columns" role="main">
        <article class="h-entry">

<div class="content-header">
  <h2 class="p-name">TIL: {{ Page.title }}</h2>
  <span class="post-date dt-published">{{ Page.datefull }}<br></span>
</div>
<div class="post-content e-content">
{{ Page.content | safe }}
</div>

        </article>
      </div>
    </div>
  </div>
<!-- /MAIN -->
{% endblock content %}
